extends ../layout

block content

    form(action='/documents',method='post')
        button.btn(type='submit') Create new document

    h3 Your documents

    table.table.table-striped
        thead
            tr
                th Title
                th Created
                th Actions
        tbody

            for document in documents
                tr
                    td
                        a(href="#{document.url}") #{document.title}
                    td #{document.created_from_now}
                    td
                        form.document-actions(action="#{document.delete_url}",method="POST")
                            button.btn.btn-mini.btn-danger(type="submit") Delete