
# Environment: (development|production), default: development
NODE_ENV=development

# Database connection string
DATABASE_URL=postgresql://user:password@host:port/database

# Session cookie name
COOKIE_KEY=nodepad

# Session cookie secret
COOKIE_SECRET=secret

# Listening port
PORT=5000

# Email traceback (sent via sendgrid, uncomment for enable)
# SENDGRID_PASSWORD=password
# SENDGRID_USERNAME=username
# DEBUG_MAIL_FROM=sender@foo.com
# DEBUG_MAIL_TO=receiver@bar.com
