
# Environment: (development|production), default: development
NODE_ENV=development

# Port: default: 8080
LISTEN=8080

# Database connection string
DATABASE_URL=postgresql://user:password@host:port/database

# Session cookie name
COOKIE_KEY=nodepad

# Session cookie secret
COOKIE_SECRET=secret