
# Environment: (development|production), default: development
NODE_ENV=development

# Database connection string
DATABASE_URL=postgresql://user:password@host:port/database

# Session cookie name
COOKIE_KEY=nodepad

# Session cookie secret
COOKIE_SECRET=secret

# Listening port
PORT=5000