/* Layout */

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

#txt {
    width:  100%;
    height: 100%;
    border: 0;
    padding: 20px;
    font-family: 'Oxygen Mono', sans-serif;;
}

#txt:focus {
    outline: none;
}

#title {
    overflow: hidden;
    white-space: nowrap;
}

a.active {
    font-weight: bold !important;
    text-decoration: underline;
}

/* Colors */

.light{
    background-color: #FFF9E5;
    color: #274257;
}

.dark{
    background-color: #274257;
    color: #FFF9E5;
}

/* Font */

.small{
    font-size: 12px;
}

.normal{
    font-size: 14px;
}

.large{
    font-size: 16px;
}
